<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>jQuery Timeline Plugin</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/jquery.timeline.css">
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<div class="container">
			<!--[if lt IE 7]>
				<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
			<![endif]-->

			<section id="add-post">
				<form action="#" method="post" name="add-post-form">
					<fieldset>
						<textarea name="status-update" placeholder="What's up?" required></textarea>
						<input type="url" name="media" placeholder="Image URL">
					</fieldset>
					<button type="submit" name="add-post-submit">Post</button>
					<div class="loading"><img src="https://raw.github.com/BrunoBernardino/ProjQueryPlugins/master/assets/loading.gif"></div>
				</form>
			</section>

			<section id="posts">
				<article class="post" data-side="left">
					<header>
						<i class="pointer"></i>
						<div class="avatar">
							<a href="#link-to-user">
								<img src="https://raw.github.com/BrunoBernardino/ProjQueryPlugins/master/assets/me.png" alt="Bruno Bernardino">
							</a>
						</div>
						<div class="info">
							<a href="#link-to-user">
								<h1>Bruno Bernardino</h1>
							</a>
							<a href="#link-to-post">
								<time datetime="2013-03-02T09:01:27.591Z" pubdate>2013.03.02 09:01</time>
							</a>
						</div>
					</header>
					<section class="content">
						<p>A more recent post, without any image.</p>
					</section>
				</article>

				<article class="post too-close" data-side="right">
					<header>
						<i class="pointer"></i>
						<div class="avatar">
							<a href="#link-to-user">
								<img src="https://raw.github.com/BrunoBernardino/ProjQueryPlugins/master/assets/me.png" alt="Bruno Bernardino">
							</a>
						</div>
						<div class="info">
							<a href="#link-to-user">
								<h1>Bruno Bernardino</h1>
							</a>
							<a href="#link-to-post">
								<time datetime="2013-03-01T12:14:53.316Z" pubdate>2013.03.01 12:14</time>
							</a>
						</div>
					</header>
					<section class="content">
						<p>Hey, this is a nice post markup, right? Very clean.</p>
						<div class="media">
							<img src="http://distilleryimage9.s3.amazonaws.com/cd3540ae369411e2ada322000a1fbcdb_7.jpg" alt="Bruno Bernardino's Mojito recipe">
						</div>
					</section>
				</article>

				<div class="loading"><img src="https://raw.github.com/BrunoBernardino/ProjQueryPlugins/master/assets/loading.gif"></div>
			</section>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<script src="js/jquery.timeline.js"></script>

		<script type="text/x-underscore-template" id="template-posts">
		<% _.each( posts, function( post, index ) { %>
			<article class="post" data-side="<%= (index % 2 === 0) ? 'left' : 'right' %>">
				<header>
					<i class="pointer"></i>
					<div class="avatar">
						<a href="#link-to-user">
							<img src="<%= post.avatar %>" alt="<%= post.name %>">
						</a>
					</div>
					<div class="info">
						<a href="#link-to-user">
							<h1><%= post.name %></h1>
						</a>
						<a href="#link-to-post">
							<time datetime="<%= post.date %>"><%= post.date %></time>
						</a>
					</div>
				</header>
				<section class="content">
					<p><%= _.escape( post.content ) %></p>
					<% if ( post.image ) { %>
						<div class="media">
							<img src="<%= _.escape( post.image ) %>" alt="">
						</div>
					<% } %>
				</section>
			</article>
		<% }); %>
		<% if ( posts.length == 0 ) { %>
			<p>There are no posts to show.</p>
		<% } %>
		</script>
	</body>
</html>